@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Share+Tech&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  color: #DDE2F4;
  background-color: #25283a;
  /*background-color: #161822;*/
  font-family: 'Share Tech', Helvetica, Arial, Lucida, sans-serif;
  font-size: 14px;
  line-height: 1.7em;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/**** Color ****/

.text-white {
  color: #fff;
}

.text-dark {
  color: #333;
}

.text-gray {
  color: #666;
}

.text-blue {
  color: #004a75;
}

.bg-blue {
  background-color: #6478e2;
}

.bg-gray {
  background-color: #a8acc8;
}

.bg-dark-blue {
  background-color: #4f5a8e;
}

.bg-green {
  background-color: #169679;
}

.section-wrapper {
  width: 80%;
  padding: 0;
  margin: auto;
}

.row {
  margin: 0px;
}

/**** Custom NavBar ****/

.navbar {
  background-color: #161822;
}
.navbar .container {
  width: 80%;
  padding: 0px;
}
.navbar-dark .navbar-brand a {
  color: #6478e2;
  text-decoration: none;
  font-size: 24px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #d4dae3;
    font-size: 16px;
    transition: all .4s ease-in-out;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #0056b3;
}

@media (max-width: 992px) {
  .navbar-nav {
    border-top: 1px solid #fff;
  }
 }

/**** Section-0 ****/

.section-0 {
  position: relative;
  color: #fff;
}

.parallax_bg_wrap {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax_bg {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.bg_layout_dark {
  background-image: linear-gradient(140deg, rgba(1, 17, 27, 0.6) 0%, rgba(10, 1, 29, 0.5) 100%);
  background-color: rgba(0, 0, 0, 0);
}

.wrapper-content {
  position: relative;
  background-position: center center;
  background-size: cover;
}

.ptb-128 {
  padding: 128px 0px;
}

.content {
  position: relative;
  z-index: 3;
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 50px;
}

.content .row {
  width: 80%;
  margin: 20px auto;
}

.content h1 {
  font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
  font-size: 80px;
  line-height: 1.2em;
  text-align: center;
  color: #DDE2F4;
}

.content p {
  font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
  font-size: 18px;
  line-height: 1.8em;
  text-align: center;
  font-weight: 500;
  color: #bdbed6;
}

/**** Section-1 ****/

.section-1 {
  padding-top: 0px;
  /*padding-bottom: 4%;*/
  margin-top: -36px;
  background-color: transparent;
  position: relative;
}

.blurb-wrapper {
  background-image: linear-gradient(90deg, #a7abc7 0%, #2b46dc 100%);
  background-color: #6477e1;
  border-radius: 0 100px 100px 0;
  overflow: hidden;
  padding: 16px 40px;
}

.blurb-content {
  text-align: right;
}

.blurb-content h4 a {
  color: #DDE2F4;
  text-decoration: none;
  font-size: 14px;
  font-size: 14px;
  font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.button-content {
  text-align: center;
  display: flex;
}

.button-content a {
  color: #DDE2F4;
  text-decoration: none;
  font-size: 14px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border-width: 0px;
  border-radius: 100px;
  letter-spacing: 5px;
  background-color: #4A61DD;
  padding: 23px;
  font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif !important;
}

/**** Section-2 ****/

.section-2 {
  position: relative;
  padding: 8% 0 0 0;
}

.text-center {
  text-align: center;
}

.section-2 p:first-child {
  padding-bottom: 0;
  color: rgba(255, 255, 255, 0.3);
  font-size: 110px;
  margin-bottom: -5px;
  font-weight: 500;
}

.section-2 h2 {
  font-size: 48px;
  line-height: 1.4em;
  font-weight: 500;
  margin-bottom: 30px;
}

.card-wrapper {
  margin-bottom: 5.5%;
}

.card-content {
  padding: 40px 30px;
}

.card-content .card-icon {
  margin-bottom: 30px;
}

.card-content .card-text h4 {
  text-align: left;
  font-size: 24px;
  line-height: 1.2em;
}

.card-content .card-text p {
  font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8em;
}

/**** Section-3 ****/

.section-3 {
  padding: 8% 0 4% 0;
}

.section-3 p:first-child {
  padding-bottom: 0;
  color: rgba(255, 255, 255, 0.3);
  font-size: 80px;
  margin-bottom: -5px;
  font-weight: 500;
}

.section-3 h2 {
  font-size: 40px;
  line-height: 1.4em;
  padding-bottom: 30px;
}

.section-3 .text-inner p {
  font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8em;
  color: #bdbed6;
  margin-bottom: 30px;
}

.button-wrapper a {
  color: #fff;
  border-width: 0px;
  border-radius: 100px;
  letter-spacing: 5px;
  font-size: 15px;
  font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #15314e;
  padding: 16px 32px;
  text-decoration: none;
}

.button-wrapper a:hover {
  background-color: #3980f9;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

/**** Section-4 ****/

.section-4 {
  margin: 4% 5% 0 0;
  overflow: hidden;
  position: relative;
  color: #fff;
  border-radius: 0 26vw 26vw 0;
}

.section-4 .content .row {
  width: 100%;
  margin: 0px;
}

.section-4 .wrapper-content {
  padding: 100px 0px;
}

.section-4 h2 {
  font-size: 48px;
  color: #DDE2F4;
  line-height: 1.4em;
  font-weight: 500;
}

.section-4 p {
  font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8em;
  color: #bdbed6;
  margin-bottom: 5.82%;
}

.button-wrapper-1 a {
  color: #bdbed6;
  border-width: 0px;
  border-radius: 100px;
  letter-spacing: 5px;
  font-size: 15px;
  font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #92217f;
  padding: 16px 32px;
  text-decoration: none;
}

.button-wrapper-1 a:hover {
  background-color: #791c6a;
}

/**** Section-5 ****/

.section-5 {
  padding: 4% 0;
  /*background-image: linear-gradient(180deg, #ffffff 0%, #edf0f2 100%) !important;*/
   background-color: #2b2f40;
}

.section-5 .row {
  padding: 2.855% 0;
}

.section-5 h2 {
  font-family: 'Share Tech', Helvetica, Arial, Lucida, sans-serif;
  font-size: 30px;
  line-height: 1.2em;
  font-weight: normal;
}

.section-5 p {
  font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
  line-height: 1.8em;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8em;
  color: #bdbed6;
  margin-bottom: 5.82%;
}

.section-5 .eclipse-wrapper {
  text-transform: uppercase;
  letter-spacing: 5px;
  /*background-color: #ff8a3d;*/
  border-radius: 200px 200px 200px 200px;
  overflow: hidden;
  padding: 30px;
}

.section-5 .eclipse-wrapper-bg-1 {
  background-image: linear-gradient(180deg, #41ac8a 0%, rgba(117, 201, 162,0.8) 100%), url(../images/img-1.jpg);
  background-position: center;
  background-size: cover;
}

.section-5 .eclipse-wrapper-bg-2 {
  background-image: linear-gradient(270deg, rgba(234, 234, 234, 0.89) 0%, #d3d3d3 100%), url("../images/img-1.jpg");
  background-position: center;
  background-size: cover;
}

.section-5 .eclipse-wrapper-bg-3 {
  background-image: linear-gradient(270deg, rgba(22, 149, 120,0.8) 0%, #94dab0 100%), url(../images/img-1.jpg);
  background-position: center;
  background-size: cover;
}

.eclipse-icon {
  margin-bottom: 30px;
}

.section-5 .eclipse-wrapper h4 {
  font-size: 12px;
  line-height: 1em;
  font-weight: 600;
}

/**** Section-6 ****/

.section-6 {
  position: relative;
  padding: 8% 0 4% 0;
}

.quote {
  position: absolute;
  top: 30px;
  left: 50px;
  font-size: 30px;
}

.testimonial-wrapper {
  padding: 30px;
  margin-bottom: 5.5%;
}

.section-6 p:first-child {
  padding-bottom: 0;
  color: rgba(255, 255, 255, 0.3);
  font-size: 80px;
  margin-bottom: -5px;
  font-weight: 600;
}

.section-6 h2 {
  font-size: 48px;
  line-height: 1.4em;
  font-weight: 600;
  margin-bottom: 30px;
}

.testimonial-content {
  margin-left: 63px;
}

.testimonial-content .testimonial-text {
  text-align: left;
}

.testimonial-content .testimonial-text p {
  font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
  font-size: 16px;
  line-height: 2em;
  margin-bottom: 26px;
  font-weight: normal;
}

.testimonial-content .testimonial-text .testimonial-author {
  font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
  font-size: 16px;
  line-height: 2em;
  font-weight: 600;
}

/**** Section-7 ****/

.section-7 {
  padding-top: 4%;
  margin-bottom: -36px;
  z-index: 1;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  min-height: 130px;
}

.section-7 .blurb-wrapper {
  background-image: linear-gradient(90deg, #2b46dc 0%, #a7abc7 100%);
  background-color: #6477e1;
  border-radius: 100px 0 0 100px;
  overflow: hidden;
  padding-top: 20px !important;
  padding-right: 40px !important;
  padding-bottom: 12px !important;
  padding-left: 40px !important;
}

.section-7 .blurb-content {
  text-align: left;
}

.blurb-content h4 a {
  color: #DDE2F4;
  text-decoration: none;
  font-size: 14px;
  font-size: 14px;
  font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5px
}

.button-content {
  text-align: center;
}

.button-content h4 a {
  font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.section-7 .row {
  justify-content: flex-end;
}

/**** Section-8 ****/

.section-8 {
  padding: 128px 0px;
  position: relative;
}

.section-8 h2 {
  font-size: 50px;
  color: #ffffff !important;
  line-height: 1.2em;
  padding-bottom: 16px;
  font-weight: 500;
  margin-left: 15px;
}

.section-8 form label {
  display: none;
}

.section-8 form input, .section-8 form textarea {
  width: 100%;
  padding: 16px;
  border-width: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #fff;
  background-color: #eee;
  font-size: 14px;
  -webkit-appearance: none;
  border-bottom-width: 2px;
  border-bottom-color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.8em;
}

.section-8 form input::placeholder, .section-8 form textarea::placeholder {
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.8em;
}

.section-8 form .submit {
  color: #fff;
  border-width: 0px;
  border-radius: 100px;
  letter-spacing: 5px;
  font-size: 15px;
  font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #169679;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
  float: right;
}

.section-8 .block {
  padding-top: 150px;
  margin-left: 15px;
}

.section-8 .block ul {
  list-style-type: none;
}

.section-8 .block ul li {
  margin-bottom: 9.27%;
  display: table;
}

.section-8 .block ul li .icon {
  color: #169679;
  font-size: 25px;
  padding-right: 15px;
  display: table-cell;
}

.section-8 .block ul li .text {
  font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
  font-size: 16px;
  line-height: 1.8em;
  font-weight: normal;
}

.section-8 .block ul li .text a {
  color: #fff;
}

.section-8 .content .row {
  width: 100%;
  margin: auto;
}

/**** Footer ****/

.footer-area {
    background-color: #161822;
    padding-top: 80px;
}

.single-footer-widget .social-links {
    padding: 0;
    margin: 15px 0 0;
    list-style-type: none;
}

.single-footer-widget .social-links li {
    display: inline-block;
    margin-right: 4px;
}

.single-footer-widget .social-links li a {
  color: #d4dae3;
  border: 1px solid #525164;
  width: 40px;
  height: 40px;
  padding: 8px;
  line-height: 39px;
  text-align: center;
  border-radius: 50%;
}

.single-footer-widget .social-links li a:hover, .single-footer-widget .social-links li a:focus {
  background-color: #007bff;
  color: #99A1BA;
  border-color: #0062cc;
}
.single-footer-widget .quick-links li {
  list-style-type: none;
}
.single-footer-widget .quick-links li a {
  color: #d4dae3;
  text-decoration: none;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.single-footer-widget .quick-links li a:hover {
  color:#5f70d2;
  text-decoration: none;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.copyright-area {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: 40px;
    text-align: center;
}

.copyright-area ul {
    padding: 0;
    margin: 30px 0 20px;
    list-style-type: none;
}

.copyright-area ul li {
    position: relative;
    margin: 0 10px;
    display: inline-block;
}

.copyright-area ul li:first-child {
    margin-left: 0;
}

.copyright-area ul li:first-child::before {
  display: none;
}

.copyright-area ul li::before {
    position: absolute;
    width: 6px;
    height: 6px;
    content: '';
    background: #a8a8ad;
    left: -15px;
    top: 50%;
    margin-top: -2px;
    border-radius: 50%;
}

.copyright-area .logo img {
  width: 70px;
  height: 70px;
}

/**** Jumbtron ****/

.section-jumbotron {
  background-size: cover;
  background-position: center center;
}
.section-jumbotron .wrapper-content {
  padding-bottom: 100px;
  padding-top: 100px;
}
.section-jumbotron .wrapper-content h1 {
  font-size: 45px;
}
.section-jumbotron .wrapper-content p {
  font-size: 15px;
}
.title-shadow {
  position: absolute;
  top: -40px;
  left: 12px;
  font-size: 70px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.2);
}
.section-jumbotron .page-breadcrumbs li {
  display: inline-block;
  font-size: 16px;
  margin: 0 3px;
  color: #d4dae3;
}
.section-jumbotron .page-breadcrumbs li:nth-child(2)::before {
  content: "/";
}
.section-jumbotron .page-breadcrumbs li a {
  color: #d4dae3;
  text-decoration: none;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.section-jumbotron .page-breadcrumbs li a:hover {
  color:#5f70d2;
 -webkit-transition: all .4s ease-in-out;
 -moz-transition: all .4s ease-in-out;
 transition: all .4s ease-in-out;
}

/**** About us ****/

.text-inner .why-choose li {
  font-size: 22px;
  color: #bdbed6;
  margin-bottom: 30px;
  font-weight: 400;
  list-style-type: none;
}
.text-inner .why-choose li:before {
  font-family: "Font Awesome 5 Free";
  content:"\f058";
  color: #169679;
  margin-right: 10px;
}
/**** Contact ****/

.contact-wrapper {
  padding: 40px 30px;
}
.contact-wrapper .icon {
  margin-bottom: 30px;
}
.contact-wrapper .contact-content p a {
  text-decoration: none;
  color: #fff;
}
.contact-wrapper .contact-content p {
  font-size: 16px;
  margin-bottom: 5px;
  line-height: 1.8em;
}

/**** Single-Blog Details ****/

.single-blog-post {
  margin-bottom: 30px;
  background-color: #161822;
  box-shadow: 0 15px 15px 0 rgb(0, 0, 0);
}

.single-blog-post .blog-image {
  position: relative;
  overflow: hidden;
}

.single-blog-post .blog-image a {
  display: block;
  transition: .5s;
}

.single-blog-post .blog-image .post-tag {
  position: absolute;
  right: 0;
  top: 60px;
  transition: 0.5s;
}

.single-blog-post .blog-image .post-tag a {
  background: #FF2D55;
  color: #ffffff;
  padding: 9px 28px;
  text-decoration: none;
  transition: .5s all;
}

.single-blog-post .blog-post-content {
  padding: 25px;
}

.single-blog-post .blog-post-content .date {
  color: #8dc63f;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Oswald", sans-serif;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-blog-post .blog-post-content h3 {
  margin-top: 13px;
  margin-bottom: 15px;
  line-height: 30px;
  font-size: 22px;
}

.single-blog-post .blog-post-content h3 a {
  color: #DDE2F4;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-blog-post .blog-post-content h3 a:hover, .single-blog-post .blog-post-content h3 a:focus {
  color: #FF2D55;
}

.single-blog-post .blog-post-content p {
  margin-bottom: 15px;
  color: #DDE2F4;
  font-size: 15px;
  line-height: 24px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.single-blog-post .read-more-btn {
  position: relative;
  font-weight: 500;
  color: #FF2D55;
  transition: .5s;
}

.single-blog-post .read-more-btn:hover {
  color: #00acee;
  letter-spacing: 1px;
  text-decoration: none;
}

.single-blog-post:hover .blog-image .post-tag a, .single-blog-post:focus .blog-image .post-tag a {
  background: #8dc63f;
  color: #ffffff;
}
.single-blog-post:focus .blog-image a img, .single-blog-post:hover .blog-image a img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.single-blog-post:hover .blog-image .post-tag {
  top:70px;
}
.single-blog-post .blog-image a img {
  max-width: 100%;
  transition: .5s;
}

/**** Blog-detail ****/

.blog-details h3 {
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.blog-details .blog-meta ul {
  padding: 0;
  margin: 20px 0;
  list-style-type: none;
}

.blog-details .blog-meta ul li:first-child, .blog-details .blog-meta ul li:last-child {
  margin-left: 0;
}

.blog-details .blog-meta ul li {
  display: inline-block;
  position: relative;
  color: #707070;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  margin-left: 9px;
  margin-right: 9px;
}

.blog-details .blog-meta ul li i {
  margin-right: 4px;
  color: #FF2D55;
}

.blog-details .blog-meta ul li a {
    display: inline-block;
    color: #707070;
}

.blog-details .blog-meta ul li::before {
  width: 2px;
  height: 14px;
  background: #707070;
  left: -7px;
  top: 50%;
  position: absolute;
  content: '';
  margin-top: -6px;
  -webkit-transform: rotate(11deg);
          transform: rotate(11deg);
}

.blog-details .blog-meta ul li:first-child::before {
  display: none;
}

.blog-details p {
  margin-top: 15px;
  margin-bottom: 0;
}

.blog-details blockquote, .blog-details .blockquote {
  background: #f6f6f6 none repeat scroll 0 0;
  padding: 35px 20px 35px 100px;
  position: relative;
  border-left: 5px solid #00acee;
  margin-top: 25px;
  margin-bottom: 25px;
}

.blog-details blockquote::before, .blog-details .blockquote::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  content: '\f10d';
  left: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  color: #FF2D55;
}

.blog-details blockquote p, .blog-details .blockquote p {
  color: #0d1028;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  margin: 0;
}

.sidebar .widget.widget_search {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 29px 0px rgba(102, 102, 102, 0.1);
  box-shadow: 0px 0px 29px 0px rgba(102, 102, 102, 0.1);
  padding: 15px;
}

.sidebar .widget.widget_search form {
  position: relative;
}

.sidebar .widget.widget_search form button {
  position: absolute;
  right: 5px;
  top: 0;
  height: 100%;
  border: none;
  outline: 0;
  -webkit-box-shadow: unset;
  box-shadow: unset;
  background: transparent;
  color: #FF2D55;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidebar .widget.widget_search form button:hover, .sidebar .widget.widget_search form button:focus {
  color: #00acee;
  cursor: pointer;
}

.sidebar .widget .widget-title {
  font-size: 20px;
  margin-bottom: 30px;
}

.sidebar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sidebar .widget_links ul li {
  position: relative;
  border-top: 1px solid #eeeeee;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
}

.sidebar .widget_links ul li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 10px;
  height: 10px;
  background: #FF2D55;
  margin-top: -5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidebar .widget_links ul li:last-child {
  border-bottom: 1px solid #eeeeee;
}

.sidebar .widget_links ul li a {
    color: #707070;
}

.sidebar .widget_links ul li a:hover {
  color: #FF2D55;
}

.sidebar .widget_links ul li:hover::before {
  border-radius: 50%;
}

.sidebar .widget.widget_recent_entries ul li {
  position: relative;
  display: inline-flex;
  margin-bottom: 15px;
}

.sidebar .widget.widget_recent_entries ul li a {
  width: 40%;
}

.sidebar .widget.widget_recent_entries ul li a img {
  width: 100%;
  height: auto;
}

.sidebar .widget.widget_recent_entries ul li div {
  width: 60%;
  padding-left: 10px;
}

.sidebar .widget.widget_recent_entries ul li div h5 {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 2px;
}

.sidebar .widget.widget_recent_entries ul li div h5 a {
  color: #0d1028;
  width: 100%;
}

.sidebar .widget.widget_recent_entries ul li div h5 a:hover, .sidebar .widget.widget_recent_entries ul li h5 a:focus {
  color: #FF2D55;
}

.sidebar .widget.widget_recent_entries ul li:last-child {
  margin-bottom: 0;
}

.sidebar .widget.widget_tag_cloud .tagcloud a {
  font-size: 15px !important;
  border: 1px dashed #eeeeee;
  padding: 7px 20px;
  margin-top: 6px;
  color: #707070;
  display: inline-block;
}

.sidebar .widget.widget_tag_cloud .tagcloud a:hover {
  background: #FF2D55;
  color: #ffffff;
  border-color: #FF2D55;
}

/**** Blog pagination ****/

.pagination-area {
  margin-top: 30px;
}

.pagination-area ul li a {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0 5px;
  background-color: #25283a;
  border-radius: 0 !important;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  box-shadow: 0 2px 10px 0 #676c77;
  border: none;
}

.pagination-area ul li a.active, .pagination-area ul li a:hover, .pagination-area ul li a:focus {
  background: #FF2D55;
  color: #ffffff;
  -webkit-box-shadow: unset;
  box-shadow: unset;
}

/**** Media Queries ****/

@media (max-width:980px) {
  .content h1 {
    font-size: 60px;
  }

  .section-0 {
    padding: 0px;
  }

  .section-1 .row, .section-7 .row {
    justify-content: center;
    margin: 0px;
  }

  .section-7 .row {
    margin-top: 30px;
  }

  .section-1 .row .col-md-2, .section-7 .row .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30.666667%;
    flex: 0 0 30.666667%;
    max-width: 30.666667%;
    margin-bottom: 30px;
  }

  .section-1 .col-md-6, .section-2 .col-md-4, .section-3 .col-md-6,
  .section-5 .col-md-9, .section-5 .col-md-3, .section-5 .col-md-4, .section-5 .col-md-6, .section-6 .col-md-6, .section-7 .col-md-6, .section-8 .col-md-8, .section-8 .col-md-4 {
    flex: 100% !important;
    max-width: 100% !important;
    margin-bottom: 30px;
  }

  .section-2 .pt-5 {
    padding-top: 0px !important;
  }

  .section-2 .card-wrapper {
    margin-right: 0px;
  }

  .section-1 .col-md-6 {
    padding: 0px;
  }

  /*.section-4 .wrapper-content {
    padding: 0px;
  }*/
  .section-4 .content .row {
    margin: auto;
    width: 100%;
  }

  .section-7 .col-md-6 {
    margin-bottom: 0px;
    padding: 0px;
  }

  .section-8 .content .row {
    width: 100%;
  }

  .section-8 .ptb-128 {
    padding: 0px;
  }

  .section-8 .block {
    padding-top: 20px;
  }

  .section-8 .block ul li {
    margin-bottom: 2%;
  }

  .section-8 h2 {
    padding-top: 100px;
    margin-left: 15px;
  }

  .section-8 .col-md-8 {
    margin-bottom: 0px;
  }
}

@media (max-width:767px) {
  .content h1 {
    font-size: 36px;
  }

  .section-2 h2, .section-6 h2, .section-8 h2 {
    font-size: 36px;
  }
}

@media (max-width:497px) {
  .section-1 .row .col-md-2, .section-7 .row .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
}

/*** Animations **/
.animatable {
  visibility: hidden;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

.animated {
  visibility: visible;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}

@-webkit-keyframes fadeLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@keyframes fadeLeft {
  from {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

.animated.fadeLeft {
  -webkit-animation-name: fadeLeft;
  animation-name: fadeLeft
}

@keyframes flip {
  from {
    -webkit-transform: rotateY(50deg);
    transform: rotateY(50deg);
    -webkit-transform-origin: rotateY(50deg);
    transform-origin: rotateY(50deg);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform-origin: center;
  }
}

.animated.flip {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation-name: flip;
 animation-name: flip animation-duration 3s;

}

@keyframes fadeRight {
  from {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    opacity: 0;
    height: 0;
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

.animated.fadeRight {
  -webkit-animation-name: fadeRight;
  animation-name: fadeRight;
}
